@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html > body {
    font-family: 'GmarketSansMedium';
}
body{
    margin: 0;
    padding: 0;
    list-style: none;
    min-width: 100vh;
    flex-direction: column;
    display: flex;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
header{
    background-color: lightgray;
    padding: 1rem;
    justify-content: space-between;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.logo{
    width:50px;
    height:50px;
}
.flex{
    flex:1;
}
.items-center{
    align-items: center;
}


main{
    background: #f2f4f7;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: lightblue;
    min-height: 30vh;
    flex: 1;
    text-align: center;
    margin-top: auto;
}


.top-bar{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 50px;
}
.con{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.nav-menu {
    margin-right: 2rem;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav-menu {
    white-space: nowrap;
    overflow-x: auto;
    -ms-overflow-style: none; /* IE, Edge에서 스크롤바 숨기기 */
    scrollbar-width: none; /* Firefox에서 스크롤바 숨기기 */
}

.nav-menu::-webkit-scrollbar {
    display: none; /* Chrome, Safari에서 스크롤바 숨기기 */
}

@media screen and (max-width: 768px) {
    .nav-menu {
        width: 100%;
        padding: 0 1rem;
    }
    
    .nav-menu ul {
        justify-content: flex-start;
        width: max-content;
    }
}


.menu-item {
    display: flex;
    align-items: center;
    margin-left: 2rem;
    cursor: pointer;
}

.menu-item i {
    margin-right: 0.5rem;
    font-size: 1.2rem;
}

.menu-item span {
    font-size: 1rem;
    font-weight: 500;
}

.menu-item:hover {
    color: #666;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
    flex: 1;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    height: 100%;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
    object-fit: cover;
    height: 100%;
}
.welcome-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}

/* 메인 제목 스타일 */
.main-title {
    color: white;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 1rem; /* 제목과 소제목 사이 간격 */
}

/* 소제목 스타일 */
.sub-title {
    color: lightgray;
    font-size: 1.5rem; /* 메인 제목보다 작은 크기 */
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}