@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html > body {
    font-family: 'GmarketSansMedium';
}

body, ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    color: inherit;
    text-decoration: none;
}
header{
    background-color: lightgray;
}
#main-logo{
    width:50px;
    height:50px;
}
main{
    background: #f2f4f7;
    min-height: 700px;
}
footer{
    background-color: darkgray;
    height:310px;
}
.top-bar{
    border-bottom: 1px solid rgba(0,0,0,0.1);
    height: 81px;
}
.con{
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.flex{
    display: flex;
}
.items-center {
    align-items: center;
}